@using FhirOnAzure

<div class="jumbotron">
    <h1>
        <span class="title">AZURE</span>
        <span class="fhir">Fhir</span>
        <span class="subtitle">server</span>
    </h1>
    <h2>
        <b>Microsoft AZURE</b> Reference Implementation for HL7 FHIR
    </h2>
    <img src="~/Content/hl7fhir.gif" height="180px" width="320px" alt="HL7 FHIR on Azure" />


    <h4><b>Endpoint: </b> </h4>

    <h3 class="endpoint">
        @Settings.Endpoint

    </h3>
</div>
<hr />
<div class="row">
    <div class="col-md-10">
        <h2>Implementation</h2>
        <p>
            This is the official Microsoft Azure Reference implementation server for <b>HL7 FHIR STU-3</b> powered by <a href="https://azure.microsoft.com/en-us/services/cosmos-db/">Cosmos DB </a> <img src="~/Content/CosmosDBCircle.gif" height="45px" width="80px" alt="Cosmos DB" style="alignment: center" />
        </p>


    </div>

    <div class="col-md-10">
        <h2>
            <img src="~/Content/logo-fhir-64.png" alt="FHIR" style="alignment: left" />
        </h2>
        <p>
            <a href="http://www.hl7.org/implement/standards/fhir/">FHIR</a> is the latest Health communication standard from <a href="http://en.wikipedia.org/wiki/Health_Level_7">HL7</a>.
            FHIR aims to be a lot <a href="http://www.hl7.org/implement/standards/fhir/overview.html">simpler</a> than HL7v3, without sacrificing information integrity.
        </p>
    </div>

</div>